body {
	background-color: darkslategray;
}

#kegList {
	text-align: center;
	margin-top: 4.09%;
}

#headbar {
	border-top: 3px solid black;
}

#header {
	text-align: center;
	margin-bottom: 2%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: black 2px 2px;
	background-color: gray;
}

#store {
	font-size: 45px;
	color: lemonchiffon;
}

#greeting {
	color: lightgrey;
	font-size: 28px;
}

#details {
	text-align: center;
}

#btn {
	margin: .5%;
	border-radius: 10px;
	background-color: lavender;
}

#main {
	text-align: center;
}

#main-btn {
	border-radius: 15px;
}

#form {
	text-align: center;
}

#input {
	margin: .5%;
	border-radius: 10px;
}

#label {
	font-weight: bolder;
}

#wallet {
	float: right;
	font-size: 25px;
	border: 2px solid white;
	border-radius: 5px;
}
