body {
	background-color: darkslategray;
}

#kegList {
	text-align: center;
}

#headbar {
	border-top: 3px solid black;
}

#header {
	text-align: center;
	margin-bottom: 2%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: black 2px 2px;
	background-color: gray;
}

#store {
	font-size: 45px;
	color: lemonchiffon;
}

#greeting {
	color: lightgrey;
	font-size: 28px;
}
